@font-face {
    font-family: Mulish-Regular;
    src: url("./assets/fonts/Mulish-Regular.ttf");
  }
/* @import url("./assets/fonts/Mulish-Regular.ttf"); */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Mulish-Regular;
    border-collapse:separate 
    
}
h3{
    font-size: 16px;
}
.primary-btn{
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #5541d7;
    width: max-content;
    cursor: pointer;
}
.secondary-btn{
    padding: 10px 20px;
    background-color: inherit;
    font-size: 16px;
    border: none;
    outline: none;
    color: #92929d;
    width: max-content;
    cursor: pointer;
}
body{
}
#country-select-demo-listbox ,ul[role='listbox']{
    z-index: 9999;  
}
path{
    pointer-events: none;
}
.MuiBox-root.css-y7qakx::-webkit-scrollbar {
    width: 10px;
  }